#!/usr/bin/env bash
# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

HTTP_PORT=39876

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=2036e7567f62f3985943187543030007
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

###> doctrine/doctrine-bundle ###
MYSQL_ROOT_PASSWORD=FWDa67qpZFku7E2X
MYSQL_USER=hike
MYSQL_PASSWORD=pfj95khzMwVWDPgv
MYSQL_DATABASE=hike
###< doctrine/doctrine-bundle ###
###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=ssl/jwt/private.pem
JWT_PUBLIC_KEY_PATH=ssl/jwt/public.pem
JWT_PASSPHRASE=91818ea27d0420b9e7c5c8f62e723f99
###< lexik/jwt-authentication-bundle ###
