@import "fonts/theserif";

body {
  font-family: Verdana, Frutiger, sans-serif;
}

h1, h2, h3, h4, h5, .nav-link, .btn, .font-brand {
  font-family: TheSerif, Verdana, Frutiger, sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
}