@import "colors";
@import '~bootstrap-material-design/scss/bootstrap-material-design';
@import "typography";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

body {
  color: $gray-dark;
}

.header {
  background-color: $brand-blue;
  color: white;
  min-height: 80px;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.alert {
  padding: 6px 12px;
}

.btn-header {
  margin: auto 0 auto auto;
}

.title-bar__user {
  color: white;
  font-size: 0.8rem;
}

.logout-link {
  color: white;
  transition: color 200ms ease;

  &:hover {
    color: darken(white, 20%);
  }
}

.form-group {
  position:relative;
}

.custom-file-control, .form-control {
  min-height: 50px;
  margin-bottom: 20px;
  padding-top: 20px;

  &:not(select) {
    padding-bottom: 10px;
  }

  &+label {
    margin-bottom: 0;
    color: grey;
    margin-top: 21px;
    position:absolute;
    top:0;
    transition: margin-top 200ms ease, font-size 200ms ease;
  }

  &:not(:placeholder-shown)+label {
    margin-top: 0;
    font-size: 0.8rem;
  }

  &::placeholder {
    color: transparent;
  }

  &.is-invalid:focus {
    box-shadow: none;
  }
}

.invalid-feedback {
  text-align: right;
  position: absolute;
  top: 0;
  font-size: 0.8rem;
  margin-top: -0.35em;
}

footer {
  padding: 2rem 0;
  text-align: right;
  font-size: 0.8rem;
  line-height: 24px;

  .shield-badge {
    margin-top: -2px;
  }
}
