{% extends "base.html.twig" %}

{% block title %}Lucky Number >> {{ parent() }}{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    <a href="http://google.com" class="btn btn-primary">tada</a>
{% endblock %}