{% extends "_base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}