<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Team Registration System{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block titlebar %}
            <div class="title-bar">
                <div class="container">
                    {% if app.user %}
                        <div class="title-bar__user">
                            Welcome, <span id="current-user">{{ app.user.email }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
