@font-face {
  font-family: 'TheSerif';
  src: url('/fonts/theserif/theserif-blackcaps-webfont.eot');
  src: url('/fonts/theserif/theserif-blackcaps-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/theserif/theserif-blackcaps-webfont.woff') format('woff'),
  url('/fonts/theserif/theserif-blackcaps-webfont.ttf') format('truetype'),
  url('/fonts/theserif/theserif-blackcaps-webfont.svg#TheSerifBlackCapsRegular') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family:'TheSerif';
  src: url("/fonts/theserif/theserif-exbld-webfont.eot?#iefix") format("embedded-opentype"),
  url("/fonts/theserif/theserif-exbld-webfont.woff") format("woff"),
  url("/fonts/theserif/theserif-exbld-webfont.ttf") format("truetype");
  font-weight:600;
  font-style:normal;
}

@font-face {
  font-family: 'TheSerif';
  src: url('/fonts/theserif/theserif-hp6sebld-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/theserif/theserif-hp6sebld-webfont.woff') format('woff'),
  url('/fonts/theserif/theserif-hp6sebld-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family:'TheSerif';
  src: url("/fonts/theserif/theserif-hp5plain-webfont.eot?#iefix") format("embedded-opentype"),
  url("/fonts/theserif/theserif-hp5plain-webfont.woff") format("woff"),
  url("/fonts/theserif/theserif-hp5plain-webfont.ttf") format("truetype");
  font-weight:300;
  font-style:normal;
}